$transition-duration: 450ms;
$hover-shadow-color: rgba(255, 255, 255, 0.2);
$hover-box-shadow: 0px 0px 180px 0px #9917ff;
$base-button-width: 15em;
$base-button-height: 5em;
$transition-slow-transform: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

.projects-page>.blur {
  filter: blur(5px);
}

.projects-page {
  margin: 10rem 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    padding: 4rem;
    margin: 10rem 0;
    border-radius: 1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #101113df;
    box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.1);
    // background-image: url('../../star.svg');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 90% 0%;
    border: 0.2px solid #02c8ff15;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }

  .tech-grid {
    height: 100%;
    width: 100%;
    display: grid;
    padding: 5rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 2.5vw;
    
    .tech-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: space-evenly;
      background-color: transparent;
      color: #02c8ff;
      padding: 0.3vw;
      border-radius: 2px;
      box-shadow: 2px 2px 6px rgba(241, 217, 217, 0.05);
      text-align: center;
      transition: transform 0.3s ease-in-out;
      .bf{
        display: none;
      }
      svg {
        margin-bottom: 1vh;
        height: 3vw;
        width: 3vw;
      }
      img{
        height: 3vw;
        width: 3vw;
      }
      span {
        font-size: 0.5vw;
        font-weight: bold;
        color: #fff;
      }
  
      &:hover {
        transform: translateY(-5px);
        color: #fff;
        background-color: #02c8ff;
      }
    }
  }

  .stage-cube-cont{
    height: 100%;
    width: 100%;
    padding: 4rem;
    h1{
      text-align: center;
    }
    
  }
  h1 {
    font-size: 45px;
    margin: 10rem 0;
    color: #fff;
    text-align: center;
  }

  a {
    &:active {
      top: 1px;
    }

    &:focus {
      background: #000;
    }
  }

  .catalog-grid {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    width: 100vw;

    h1{
      margin: 2rem 0;
      font-size: 4.5rem;
     }
     h2{
      font-size: 2.5rem;
      margin: 2rem 0;
      text-align: center;
     }
  }

  .project-card {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80vw;
    height: 100%;
    margin-bottom: 10rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #101113df;
    box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.1);
    border: 0.2px solid #02c8ff15;

    .text-area {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      min-width: 50%;
      padding: 2vh 2vw;

      h1 {
        text-align: center;
        color: rgb(23, 124, 168);
        font-size: 2vw;
      }

      p {
        margin: 0;
        font-size: 1.6vw;
        color: #65e2d9;
      }

      .button-container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        margin-top: 25px;

        .project-button {
          height: 100%;
          left: 2vw;
          bottom: 0%;
          border: none;
          width: $base-button-width;
          height: $base-button-height;
          border-radius: 1.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          cursor: pointer;
          transition: all $transition-duration ease-in-out;
          margin: 1rem;
          text-decoration: none;
          background: linear-gradient(to right, #65e2d9, #339ecc);
          color: #ffffff;

          .text {
            font-size: 1.5em;
            font-weight: 600;
            margin: 0;
          }

          &:hover {
            transform: translateY(-2px);
            box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
              inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
              0px 0px 0px 4px $hover-shadow-color, $hover-box-shadow;
          }
        }
      }
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .project-image {
      min-width: 50%;
      max-width: 50%;
      max-height: 50vh;
      object-fit: contain;
      padding: 5vw 2vw;
      border-radius: 10%;
      overflow: hidden;
    }

    .project-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 10px;
      height: 8vh;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    .modal-content {
      background: #333;
      padding: 5rem 5rem;
      border-radius: 10px;
      position: relative;
      max-width: 80vw;
      width: 100%;
      margin-top: 100px;
      text-align: center;
      display: flex;
      flex-direction: column;

      .close {
        position: absolute;
        top: 8%;
        left: 92%;
        font-size: 24px;
        cursor: pointer;
        width: 5%;
      }

      .modal-main-content {
        display: flex;
        flex-direction: row;
        height: 100%;
        min-width: 100%;
        align-items: flex-start;

        .modal-text-zone {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: left;
          color: #02c8ff;
          padding: 0;
          width: 50%;
          max-height: 100%;

          h1 {
            color: #02c8ff;
            font-size: 3rem;
          }

          p {
            font-size: 2.2vh;
            color: #fff;
          }

          li {
            font-size: 2vh;
            color: #fff;
          }
        }

        .stage-cube-cont {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 50%;
          max-height: 100%;

          h1 {
            color: #02c8ff;
            font-size: 3rem;
          }

          .stage-cube {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: center;
            max-height: 100%;
            padding: 2rem;

            .main-column {
              display: flex;
              flex-direction: column;
              width: 40%;
              margin-left: 5%;

              h2 {
                color: #02c8ff;
                font-size: 3rem;
              }

              .cube-column {
                .tech-grid {
                  display: grid;
                  justify-items: center;
                  align-items: center;
                  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
                  align-items: center;
                  width: 100%;

                  .tech-item {
                    width: 30%;
                    height: auto;
                    border-radius: 10%;

                    span {
                      font-size: 10px;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }

    .tech-grid {
      display: flex;
      width: 100%;
      flex-direction: row;
      padding: 0rem;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      .tech-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: space-evenly;
        background-color: #161616af;
        color: #02c8ff;
        padding: 0.3vw;
        margin: 0.8rem;
        border-radius: 2em;
        min-height: 60px;
        height: 6vh;
        width: 6vh;
        min-width: 60px;
        box-shadow: 5px 10px 6px rgba(123, 123, 123, 0.05);
        text-align: center;
        transition: transform 0.3s ease-in-out;

        .bf {
          display: none;
        }

        svg {
          height: 3rem;
          margin-bottom: 1vh;
        }

        span {
          font-size: 14px;
          font-weight: bold;
          color: #fff;
        }

        &:hover {
          transform: scale(1.4) translateY(-5px);
          transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          color: #fff;
          background-color: #02c8ff;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .projects-page {
    .project-card {
      .text-area {
        .project-button {
          transform: scale(0.8);
        }
      }
    }

    .modal {
      .modal-content {

        .modal-main-content {
          .modal-text-zone {
            width: 50%;

            h1 {
              font-size: 2.7rem;
            }

            li {
              font-size: 1.5rem;
            }
          }

          .stage-cube-cont {
            width: 50%;
            height: 100%;

            h1 {
              font-size: 2.7rem;
            }

            .stage-cube {
              height: 100%;
              width: 100%;

              .main-column {
                height: 100%;
                width: 50%;

                .cube-column {
                  .tech-grid {
                    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

                    .tech-item {
                      height: 12px;
                      width: 12px;

                      span {
                        font-size: 9px;
                      }

                    }
                  }
                }

                h2 {
                  font-size: 2.3rem;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .projects-page {
    h1 {
      font-size: 30px;
    }

    .project-card {
      margin: 15px;
      padding: 2px;

      .project-image {
        display: none;
      }

      .text-area {
        h1 {
          font-size: 22px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }

  .projects-page {
    .project-card {
      .text-area {
        .project-button {
          transform: scale(0.75);
        }
      }
    }

    .modal {
      .modal-content {

        .modal-main-content {
          .modal-text-zone {
            h1 {
              font-size: 2.3rem;

            }
          }

          .stage-cube-cont {
            h1 {
              display: none;
            }

            .stage-cube {
              .main-column {
                h2 {
                  font-size: 2.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .projects-page {
    .modal {
      max-height: 100vh;

      .modal-content {
        padding: 10px;

        .modal-main-content {
          flex-direction: column;

          .modal-text-zone {
            width: 100%;
            padding: 0 20px;

            h1 {
              font-size: 2.3rem;
            }

            li {
              font-size: 1.5rem;
            }
          }

          .stage-cube-cont {
            width: 100%;
            height: 100%;

            h1 {
              font-size: 2.3rem;
            }

            .stage-cube {
              width: 100%;
              padding: 1rem 0;

              .main-column {
                height: 100%;
                width: 100%;

                .cube-column {
                  width: 100%;

                  .tech-grid {
                    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));

                    .tech-item {
                      height: 40px;
                      width: 40px;
                      min-width: 0;
                      margin: 10px 0;

                      span {
                        display: none;

                      }

                      svg {
                        width: 2rem;
                        height: 2rem;
                      }

                      &:hover {
                        transform: scale(1.2) translateY(-5px);
                        height: 5rem;
                        width: 5rem;

                        span {
                          font-size: 8px;
                          display: block;
                        }

                        svg {
                          width: 2rem;
                          height: 2rem;
                        }

                      }

                    }
                  }
                }

                h2 {
                  font-size: 2.3rem;
                }
              }
            }
          }
        }

      }
    }
  }
}