$transition-duration: 450ms;
$hover-shadow-color: rgba(255, 255, 255, 0.2);
$hover-box-shadow: 0px 0px 180px 0px #9917ff;
$base-button-width: 15em;
$base-button-height: 5em;

.container{
  padding-bottom: 10rem;
}
.fly-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.home-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding-bottom: 10rem;
  

  

  .animation-zone {
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .home-page-pic {
    height: 80vh;
    width: 40vw;
    object-fit: contain;
    position: relative;
    z-index: 1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .text-zone {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
  
    span {
      margin: 1rem;
    }
  
    h2 {
      width: 50%;
      margin: 0 5rem;
      font-size: 1.625rem;
      text-align: left;
      color: white;
      font-weight: 400;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }
  }
  
  .title {
    color: #339ecc;
    font-weight: 800;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
    position: relative;
    margin-top: 1rem;
  }
  
  h1 {
    color: white;
    font-size: 6rem;
    line-height: 4rem;
    margin: 0 5rem;
    font-family: 'Roboto';
    font-weight: 800;
    letter-spacing: 2px;
    text-align: left;

    &:before {
      font-family: 'La Belle Aurore', cursive;
      color: #65e2d9;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      font-family: 'La Belle Aurore', cursive;
      color: #65e2d9;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 10px;
      opacity: 0;
      width: 50px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      margin-right: 0px;
    }
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    margin: 2rem 5rem;
  }

  .btnBase {
    border: none;
    width: $base-button-width;
    height: $base-button-height;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: all $transition-duration ease-in-out;
    margin: 1rem;
    text-decoration: none;

    .text {
      font-size: 1.5em;
      font-weight: 600;
      margin: 0;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
                  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
                  0px 0px 0px 4px $hover-shadow-color,
                  $hover-box-shadow;
    }

    .sparkle {
      fill: #AAAAAA;
      transition: all 800ms ease;
    }

    &:hover .sparkle {
      fill: white;
      transform: scale(1.2);
    }
  }

  .btnProject {
    @extend .btnBase;
    background: linear-gradient(to right, #3a3939, #262424, #1f1e1e);
    color: #ffffff;

    .text {
      color: #ffffff;
    }
  }

  .btnContact {
    @extend .btnBase;
    background: linear-gradient(to right, #ffffff, #ffffff);
    color: #262424;

    .text {
      color: #262424;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-page{
    width: 0;
    position: relative;
    padding-bottom: 10rem;
  }

  .home-page .text-zone {
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 2rem;
    justify-content: center;
    align-content: center;

    .buttonContainer{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 20px 0;
    }
    .headings{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
    
    h1 {
      font-size: 60px;
      line-height: 6vh;
      height: 10%;
      width: 100%;
    }

    h2 {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .page, .container{
    overflow: hidden;
  }

.home-page {
    flex-direction: column;
    overflow: hidden;
  }
  .home-page-pic{
  display: none;
  height: 0;
  width: 0;
  }

.home-page .text-zone {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    margin-top: 0;

    .headings{
      padding: 0;
      width: 99vw;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
  
      h1 {
        // line-height: 3rem;
        width: 100%;
        margin: 2rem 4rem;
        text-align: center;
      }
    }
    h2 {
      font-size: 20px;
      margin: 0;
      width: 90%;
      padding: 0;
      text-align: center;
    }
  
  }
 

  .buttonContainer {
    width: 100%;
    flex-direction: column;
    margin: 1rem 2rem;
    justify-content: center;
    font-size: 1.2rem;

    span{
      font-size: 2rem;
      padding: 2px;
    }
    .text {
      font-size: 1.1em;
    }
  }
  

  .btnBase {
    width: 100%;
    height: 4em;
  }

  .home-page .btnBase .text, .home-page .btnContact .text, .home-page .btnProject .text
  {
    margin: 8px;
    font-size: 12px;
  }
  .home-page .btnBase svg{
    margin-right: 8px;
  }
}

@media screen and (max-width: 480px) {
  .home-page-pic{
    display: none;
  height: 0;
  width: 0;
}
.text-zone {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

    .headings{
      padding: 0;
      width: 100vw;
      min-width: 100vw;
      height: auto;
      // margin: 0 0 12rem 0;
      flex-direction: column;
  

    h1 {
    font-size: 4rem;
    line-height: 2rem;
    margin: 0;
      }
    }
  h2 {
    font-size: 20px;
    margin: 0 0 4rem 0;
    width: 200%;
    min-width: 80vw;
  }

  .buttonContainer {
    flex-direction: row;
    margin-top: 4rem;
    width: 200%;
  }


  .btnBase {
    width: 100%;
    height: 3.5em;
  }

  .text {
    font-size: 1em;
  }
}
}
