html{
  font-size: 62.5%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Lobster Regular', 'sans-serif';
  color: #ffffff;
  background: radial-gradient(circle at center, 
                              #262424ff 0%, 
                              #1e1e1eff 50%, 
                              #141414ff 100%);

  background-size: fill;
  background-repeat: repeat;
  background-position: 0px 0px;
  opacity: 1;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

